<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>THIS IS CLASSROOM</title>

    <!-- socket.io jquery js stuff -->
    <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:image" content="https://i.imgsafe.org/256d103.png" />

    <!-- Compiled and minified CSS -->

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/js/materialize.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/css/materialize.min.css">
    <script type="text/javascript" src='https://code.jquery.com/jquery-2.1.4.min.js'></script>
    <script type="text/javascript" src='https://cdnjs.cloudflare.com/ajax/libs/velocity/1.2.3/velocity.js'></script>
    <script type="text/javascript" src='https://cdnjs.cloudflare.com/ajax/libs/velocity/1.2.3/velocity.ui.min.js'></script>
    <script type="text/javascript" src="/javascripts/widget.js"></script>
    <script type="text/javascript" src="/javascripts/chat.js"></script>

    <!-- Compiled and minified JavaScript -->

    <link rel="stylesheet" href="/stylesheets/widget.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
</head>

<body>
  <div class="INFORMATION" style="display:none;" data-id="{{token.id}}" data-is-instructor="{{token.isInstructor}}" data-first-name="{{token.firstName}}" data-last-name="{{token.lastName}}"></div>
<div class='logo'><img src="/images/faceback_logo_v2.png" height="33px" /></div><br>

<div class="container">
  <!-- 200px by 500px-->

  <table>
          <thead>
            <!-- <tr>
                <th>Name</th>
                <th>Item Name</th>
                <th>Item Price</th>
            </tr> -->
          </thead>

          <tbody>

            <!--Stoked Emoji-->
            <tr>
              <td>
                <div class="actionBox">
                <span>
                  <div class="emoji-reactions">  <!--popup description of emoji and white background-->
                   <span>
                    <div class="reaction">
                      <i class="react stoked"><input type="image" height="48px" src="/images/stoked.png" name="saveForm" class="reaction_button" id="saveForm" data-value="happy"/></i>
                    </div>
                    <!-- <div class="text">
                      <div></div> -->
                   </div>
                  </span>
                 </div>
                </span>
               </div>
              </td>
            <td><div id="stoked">0</div></td>
            </tr>

            <!--Happy Emoji-->
            <tr>
              <td>
                <div class="actionBox">
                <span>
                  <div class="emoji-reactions">  <!--popup description of emoji and white background-->
                   <span>
                    <div class="reaction">
                      <i class="react happy"><input type="image" height="48px" src="/images/happy.png" name="saveForm" class="reaction_button" id="saveForm" data-value="ya"/></i>
                    </div>
                    <!-- <div class="text">
                      <div></div> -->
                   </div>
                  </span>
                 </div>
                </span>
               </div>
              </td>
            <td><div id="happy">0</div></td>
            </tr>


            <!--OK Emoji-->
            <tr>
              <td>
                <div class="actionBox">
                <span>
                  <div class="emoji-reactions">  <!--popup description of emoji and white background-->
                   <span>
                    <div class="reaction">
                      <i class="react ok"><input class="reaction_button" type="image" height="48px" src="/images/ok.png" name="saveForm"  id="saveForm" data-value="meh"/></i>
                    </div>
                    <!-- <div class="text">
                      <div></div> -->
                   </div>
                  </span>
                 </div>
                </span>
               </div>
              </td>
            <td><div id="ok">0</div></td>
            </tr>


            <!--Sad Emoji-->
            <tr>
              <td>
                <div class="actionBox">
                <span>
                  <div class="emoji-reactions">  <!--popup description of emoji and white background-->
                   <span>
                    <div class="reaction">
                      <i class="react sad"><input type="image" height="48px" src="/images/sad.png" name="saveForm" class="reaction_button" id="saveForm" data-value="confused"/></i>
                    </div>
                    <!-- <div class="text">
                      <div></div> -->
                   </div>
                  </span>
                 </div>
                </span>
               </div>
              </td>
            <td><div id="sad">0</div></td>
            </tr>


            <!--Mad Emoji-->
            <tr>
              <td>
                <div class="actionBox">
                <span>
                  <div class="emoji-reactions">  <!--popup description of emoji and white background-->
                   <span>
                    <div class="reaction">
                      <i class="react crying"><input type="image" height="48px" src="/images/crying.png" name="saveForm" class="reaction_button" id="saveForm" data-value="angry"/></i>
                    </div>
                    <!-- <div class="text">
                      <div></div> -->
                   </div>
                  </span>
                 </div>
                </span>
               </div>
              </td>
            <td><div id="mad">0</div></td>
            </tr>


          </tbody>
        </table>



<footer>

<button class="btn" onclick="self.close()">Leave</button>

</footer>
</div>

</body>

</html>
