<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper">
            <a href="../" class="brand-logo"><img src="/images/logo.png" height="35px"></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="../">Logout</a></li>
            </ul>
        </div>
    </nav>
</div>
<div class="container">
    <div class="inner-container">
        <span class="row">
    <p class="headline"><img class="responsive-image col l2 circle vertical-center" src="/images/charles-manson-mugshot.jpg"> {{title}}: User Dashboard</p><br>

  </span>
    </div>
    <span class="row col 10">
      <ul class="collapsible" data-collapsible="accordion">
  <li>
    <div class="collapsible-header"><span class="new badge" data-badge-caption="Class is in session!"></span><i class="material-icons">people</i>G44</div>
<div class="collapsible-body">
    <p>Lorem ipsum dolor sit amet.</p>
</div>
</li>
</ul>
<ul class="collapsible" data-collapsible="accordion">
    <li>
        <div class="collapsible-header"><span class="badge"></span><i class="material-icons">people</i>G49</div>
        <div class="collapsible-body">
          <p>text</p>
        </div>
    </li>
</ul>
</span>
</div>
