
<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper">
            <a href="./" class="brand-logo">Logo</a>
            <ul class="right hide-on-med-and-down">
                <li><a href="../">Logout</a></li>
            </ul>
        </div>
    </nav>
</div>
<p headline>{{title}}</p>
<div class="container">
    <span class="row">
    <p class="headline"><img class="responsive-img" src="/images/charles-manson-mugshot.jpg"> User</p><br>
  </span>
    <span class="row col 10">
    <p>text</p>
  </span>
</div>
