<body class="page">
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper z-depth-5">
                <a href="../" class="brand-logo"><img src="/images/logo.png" height="35px"></a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="../">Logout</a></li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="container z-depth-5">
      <div class="dash">
        <div class="inner-container z-depth-5">
          <span class="row">
            <p class="valign-wrapper headline"><img class="responsive-image col l2 circle vertical-center" src="/images/charles-manson-mugshot.jpg"> {{title}}</p><br>
          </span>
        </div>
        <span class="row col 10">
        {{#each classes}}
          <div class="collection">
            <a href="../../classroom/{{this.id}}" class="valign-wrapper collection-item z-depth-5"><span class="badge"></span><i class="material-icons">people</i> {{this.name}}
            </a>
          </div>
          {{/each}}
        </span>
      </div>
    </div>
</body>
