<<<<<<< HEAD
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>FistOfFive</title>
  </head>
  <body>
    <h1>{{title}}</h1>
  </body>
</html>
=======
<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper">
            <a href="./" class="brand-logo">Logo</a>
            <ul class="right hide-on-med-and-down">
                <li><a href="./">Logout</a></li>
            </ul>
        </div>
    </nav>
</div>
<div class="container">
    <span class="row">
    <p class="center headline"><img class="responsive-img" src="/images/charles-manson-mugshot.jpg"> User</p><br>
  </span>
    <span class="row col 10">
    <p>text</p>
  </span>
</div>
>>>>>>> started templating dashboard
