<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper">
            <a href="./" class="brand-logo">Logo</a>
            <ul class="right hide-on-med-and-down">
                <li><a href="./signup">Create Account</a></li>
            </ul>
        </div>
    </nav>
</div>
<div class="container">
    <span class="row">
    <p class="center headline">{{title}}</p><br>
  </span>
    <div class="row">
        <div class="input-field col s6">
            <input id="address" type="text" class="validate">
            <label for="Address">Email</label>
        </div>
        <div class="input-field col s6">
            <input id="apt" type="text" class="validate">
            <label for="apt">Password</label>
        </div>
        <div class="row center">
            <a id="submit" class="btn-large waves-effect orange darken-4">Login</a>
        </div>
        </form>
    </div>
