<div class="container">
<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<form method="post">
     <div class="row">
       <div class="input-field col s6">
           <input id="address" type="text" class="validate">
           <label for="Address">Email</label>
       </div>
       <div class="input-field col s6">
           <input id="apt" type="text" class="validate">
           <label for="apt">Password</label>
       </div>
       <div class="row center">
           <a id="submit" class="btn-large waves-effect orange darken-4">Login</a>
       </div>
     </form>
</div>
