<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper">
            <a href="./" class="brand-logo"><img src="/images/logo.png" height="35px"></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="./signup">Create Account</a></li>
            </ul>
        </div>
    </nav>
</div>
<div class="container vertical-center">
  <div class="inner-container">
    <span class="row">
    <p class="center headline">{{title}}</p><br>
  </span>
    <div class="row">
        <form method="post">
            <div class="row">
                <div class="input-field col s6">
                    <input id="address" type="text" class="validate" name="email" value="matt@matt.com">
                    <label for="Address">Email</label>
                </div>
                <div class="input-field col s6">
                    <input id="apt" type="password" class="validate" name="password" value="youreawizard">
                    <label for="apt">Password</label>
                </div>
                <div class="row center">
                    <button class="btn waves-effect waves-light" type="submit">Submit
     <i class="material-icons right">send</i>
   </button>
                </div>
            </div>
        </form>


    </div>
  </div>
</div>
