
<link rel="stylesheet" href="stylesheets/widget.css">


<body class="splash">
  <div class="INFORMATION" style="display:none;" data-id="{{token.id}}" data-is-instructor="{{token.isInstructor}}" data-first-name="{{token.firstName}}" data-last-name="{{token.lastName}}"></div>
<!-- <div class='logo'><img src="/images/logo.png" width="100%" /></div><br> -->

<div class="center-child">
  <span class="row">
  <div class="center col l2"></div>
  <div class="center"><img src="/images/handslogo.png" class="center logo-splash no-pad col l8"></div>
      <div class="center col s2"></div>
    </span>
      <span class="row">
      <div class="col s2"></div>
      <div class="center card-btn col s8 l8 z-depth-5">
        <!-- <div class="row"> -->
          <p class="center headline2">No class<br>in session</p>
      </div>
  </span>
</div>


<!-- </div> -->

</body>
