<body class="page">
<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper z-depth-5">
            <a href="./" class="brand-logo"><img src="/images/logo.png" height="35px"></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="./login">Login</a></li>
            </ul>
        </div>
    </nav>
</div>
<div class="container vertical-center z-depth-5">
  <div class="inner-container">
    <span class="row">
    <p class="center headline">{{title}}</p><br>
    <p>ERROR: {{error}}</p>
  </span>
    <span class="row col 10">
    <form method="post">
            <div class="input-field col s5">
                <input value="Lee Sah" id="first_name" type="text" class="validate" name="firstName">
                <label for="first_name">First Name</label>
            </div>
            <div class="input-field col s7">
                <input value="Ma" id="last_name" type="text" class="validate" name="lastName">
                <label for="last_name">Last Name</label>
            </div>
            <div class="input-field col s7">
                <input value="lisa@lisa.com" id="address" type="text" class="validate" name="email">
                <label for="Address">Email</label>
            </div>
            <div class="input-field col s5">
                <input value="craag" id="apt" type="password" class="validate" name="password">
                <label for="apt">Password</label>
            </div>
            <div class="row center">
                <button class="btn waves-effect waves-light" type="submit">Submit
                  <i class="material-icons right">send</i>
                </button>
            </div>
    </form>
  </span>
</div>
</div>
</body>
