<script type="text/javascript" src="/javascripts/googleCreate.js"></script>

<body class="page">
<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper z-depth-5">
            <a href="./" class="brand-logo"><img src="/images/logo.png" height="35px"></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="./login">Login</a></li>
            </ul>
        </div>
    </nav>
</div>
<div class="container vertical-center z-depth-5">
  <div class="inner-container">
    <span class="row">
    <p class="center headline">{{title}}</p><br>
    <!-- <p>ERROR: {{error}}</p> -->
  </span>
    <span class="row">
    <form class="col s12 row" method="post">
      <p>
  <input name="isInstructor" class="with-gap" type="radio" id="instructor" value="true"/>
  <label for="instructor">Instructor</label>
  <input name="isInstructor" class="with-gap" type="radio" id="student" value="false"/>
  <label for="student">Student</label>
</p>
            <div class="input-field col s12 m5 l5">
                <input value="Lee Sah" id="first_name" type="text" class="validate" name="firstName">
                <label for="first_name">First Name</label>
            </div>
            <div class="input-field col s12 m7 l7">
                <input value="Ma" id="last_name" type="text" class="validate" name="lastName">
                <label for="last_name">Last Name</label>
            </div>
            <div class="input-field col s12 m7 l7">
                <input value="lisa@lisa.com" id="address" type="text" class="validate" name="email">
                <label for="Address">Email</label>
            </div>
            <div class="input-field col s12 m5 l5">
                <input value="craag" id="apt" type="password" class="validate" name="password">
                <label for="apt">Password</label>
            </div>

            <div class="row">
                <button class="btn waves-effect waves-light" type="submit">Submit
                </button>
            </div>

    </form>

  </span>
</div>
</div>
</body>
