<body class="splash">

    <div class="container-splash">
        <span class="row">
    <div class="center col l2"></div>
    <div class="center"><img src="/images/handslogo.png" class="center logo-splash no-pad col l8"></div>
            <div class=" center col s2"></div>
          </span>
            <span class="row">
            <div class="center col s2"></div>
            <div class="center card-btn col s12 l8 z-depth-5">
              <!-- <div class="row"> -->
                <a class="white-text waves-effect valign-wrapper center-align inner-btn2 col s12 m6 l6" href="./signup"><h3>Sign up
                </h3></a>
                <a class="white-text waves-effect valign-wrapper center-align inner-btn2 col s12 m5 l5" href="./login"><h3>Login
                </h3></a>
            </div>
        </span>
        <!-- Dropdown Trigger -->
        <script type="text/javascript" src="/javascripts/prevent.js"></script>
        <script>
            function learnMore() {
                document.getElementById("more").style.display = "block";
            }
        </script>
<a href="#"><p id="moreInfo" class="center dash headline2">Learn about us!</p></a>
        <div class="row no-pad">

            <div class="col s0 m2 l2"></div>
            <div class="col s12 m8 l8 no-pad">

                <div id="more" class="inner-container-splash z-depth-5">
                <article>[this app] is an interactive, intuitive interface that allows instructors to receive feedback in real-time. Instructors can Create, Read, Update, and Delete classes and sessions. Students can join classes and rate their current understanding of the material by simply responding with emojis.<br>
                This app was made by <strike>basically</strike> literally the coolest, smartest, most attractive people ever. You're welcome.</article>
              </div>
            </div>
        </div>
</div>
</body>
