<body class="splash">
<!-- <div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper">
            <a href="./" class="brand-logo">Logo</a>
            <ul class="right hide-on-med-and-down">
                <li><a href="./signup">Create Account</a></li>
            </ul>
        </div>
    </nav>
</div> -->
<div class="container-splash">
    <span class="row">
    <!-- <p class="center headline">{{title}}</p><br> -->
    <div class="col l2"></div>
    <div class="center"><img src="/images/handslogo.png" class="center responsive-image col l8"></div>
  </span>
    <div class="row">
        <div class="col s2"></div>
            <div class="card-panel card-btn col s8">
                <span class="inner-btn full-center"><a class="white-text waves-effect inner-btn2" href="./signup">Create a new account
                </a>
                <a class="white-text waves-effect inner-btn2" href="./login">Login to your account
                </a></span>
            </div>

    </div>
    <!-- Dropdown Trigger -->
    <script>
    function learnMore() {
        document.getElementById("more").style.display = "block";
    }
    </script>
<p class="center headline2" onclick="learnMore()">Learn about us!</p>
<article id="more"> Cat ipsum dolor sit amet, love to play with owner's hair tie. Shove bum in owner's face like camera lens spend all night ensuring people don't sleep sleep all day but pooping rainbow while flying in a toasted bread costume in space. Lick butt loves cheeseburgers sleep on keyboard, and cereal boxes make for five star accommodation . Sit and stare meow find a way to fit in tiny box yet love and coo around boyfriend who purrs and makes the perfect moonlight eyes so i can purr and swat the glittery gleaming yarn to him (the yarn is from a $125 sweater) but see owner, run in terror relentlessly pursues moth. Sweet beast. Stand in front of the computer screen immediately regret falling into bathtub.</article>
</div>
</body>
