.create-class{
  display: block;
  margin: 0 auto;
}

.form-submission{
  display: block;
  margin: 0 auto;
}

.remove_button{
  margin-left: 0px !important;
  margin-right: 0px !important;
  margin-bottom: 0px !important;
  margin-top: 10px !important;
}
