* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    /*padding: 50px;*/
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    height: 100%;
    background: url('https://lh6.googleusercontent.com/i4m6QmFqp49ajh2qRhHUU2gHtASrteQ-toMNON6i7zCf0xvxxEwi7yt23jziOWKsGrjIsvmW1xCqjL4=w1440-h699-rw');
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #696969;
    margin-top: 0;
}

div {
  padding-left: 10px;
  padding-right: 10px;
}

<<<<<<< HEAD
<<<<<<< HEAD
.navbar-fixed {
  background-color: #e65100 !important;
}

.nav-wrapper {
  background-color: #e65100 !important;
}

=======
>>>>>>> fixed container
.container{
  background:rgba(222,222,222,.8);
  position: relative;
  overflow-y: scroll;
  height: 100%;
  /*padding-bottom:100px;*/
  padding-top: 0;
  margin-top: 0;
=======
.container {
    background: rgba(222, 222, 222, .8);
    position: relative;
    overflow-y: scroll;
    height: 100%;
    /*padding-bottom:100px;*/
    padding-top: 0;
    margin-top: 0;
>>>>>>> finalized template layout
}

.navbar-fixed {
    background-color: #e65100;
}

.nav-wrapper {
    background-color: #e65100;
}

.vertical-center {
  align-items: center;
}

.headline {
    font-family: 'Architects Daughter' !important;
    font-size: 75px;
}

.classroom {
    background: #000;
    padding: 3px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.rate {
    border: 0;
    padding: 10px;
    width: 90%;
    margin-right: .5%;
}

.rating {
    width: 9%;
    background: rgb(130, 224, 255);
    border: none;
    padding: 10px;
}

#messages {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#messages li {
    padding: 5px 10px;
}

#messages li:nth-child(odd) {
    background: #eee;
}
