* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    /*padding: 50px;*/
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    height: 100%;
    background: url('/images/background.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin-top: 0;
}

div {
  padding-left: 10px;
  padding-right: 10px;
}

nav {
  height: 45px !important;
  line-height: 45px !important;
  margin: 0;
  padding: 0;
}

.navbar-fixed {
  height: 45px !important;
  line-height: 45px !important;
  margin: 0;
  padding: 0;
}

.nav-wrapper {
  background-color: rgb(219, 133, 63) !important;
  height: 45px !important;
  line-height: 45px !important;
  margin: 0;
  padding: 0;
}

.container{
  background:rgba(222,222,222,.8);
  position: relative;
  overflow-y: scroll;
  height: 100%;
  /*padding-bottom:100px;*/
  padding-top: 0;
  margin-top: 0;
}

.vertical-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.headline {
    font-family: 'Architects Daughter' !important;
    font-size: 85px;
    color: rgba(222,222,222,.8);
}

.headline2 {
    font-family: 'Architects Daughter' !important;
    font-size: 30px;
}

.btn {
  background-color: #659792 !important;
}

.card-btn {
  background-color: #659792 !important;
  font-size: 30px;
  border-radius: 50px !important;
}

.brand-logo {
  margin: 5px;
}

.inner-container {
  background-color: #2c3c47;
  margin-top: 10px;
  margin-bottom: 50px;
}

#more {
  display: none;
}

.dropdown1 {
  width: 100%;
}

.classroom {
    background: #000;
    padding: 3px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.rate {
    border: 0;
    padding: 10px;
    width: 90%;
    margin-right: .5%;
}

.rating {
    width: 9%;
    background: rgb(130, 224, 255);
    border: none;
    padding: 10px;
}

#messages {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#messages li {
    padding: 5px 10px;
}

#messages li:nth-child(odd) {
    background: #eee;
}
