* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

div {
  padding-left: 10px;
  padding-right: 10px;
}

nav {
  height: 45px !important;
  line-height: 45px !important;
  margin: 0;
  padding: 0;
}

.page {
    /*padding: 50px;*/
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    height: 100%;
    background-color: #303e47;
    background-size: 100%;
    margin-top: 0;
}

.splash {
    /*padding: 50px;*/
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    height: 100%;
    background-color: #2b3a45;
    background-size: 100%;
    margin-top: 0;
}

.navbar-fixed {
  height: 45px !important;
  line-height: 45px !important;
  margin: 0;
  padding: 0;
}

.nav-wrapper {
  background-color: rgb(219, 133, 63) !important;
  height: 45px !important;
  line-height: 45px !important;
  margin: 0;
  padding: 0;
}

.collection {
  padding-left: 0;
  padding-right: 0;
}

.container {
  /*background: rgba(222,222,222,0.8);*/
  position: relative;
  overflow-y: scroll;
  height: 100%;
  padding-top: 0;
  margin-top: 0;
  background: url('/images/background.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.inner-container {
  background-color: white;
  margin-top: 10px;
  margin-bottom: 50px;
  border-radius: 2px;
}

.container-splash {
  /*background:rgba(222,222,222,.8);*/
  position: relative;
  overflow-y: scroll;
  height: 100%;
  padding-top: 0;
  margin-top: 0;
}

.inner-container-splash {
  background-color: #659792;
  padding: 30px;
  margin: 0;
  border: 0;
  border-radius: 5px;
}

.no-pad {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.vertical-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.full-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.headline {
    font-family: 'Architects Daughter' !important;
    font-size: 85px;
    color: black;
}

.headline2 {
    font-family: 'Architects Daughter' !important;
    font-size: 30px;
    color: rgb(219, 133, 63);
}

.dash {
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

.btn {
  background-color: #659792 !important;
}

.card-panel {
  padding: 0 !important;
}

.card-btn {
  background-color: #659792 !important;
  height: 100px;
  /*width: 100% !important;*/
  font-size: 30px;
  border-radius: 5px !important;
  padding: 0;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.inner-btn {
  margin: 0;
  padding: 0;
  border: 0;
  height: 100% !important;
  vertical-align: middle;
  line-height: 100px;
}

.inner-btn2 {
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 20px;
  border: 20px;
}

.brand-logo {
  margin: 5px;
}

#more {
  display: none;
}

.dropdown1 {
  width: 100%;
}

.classroom {
    background: #000;
    padding: 3px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.rate {
    border: 0;
    padding: 10px;
    width: 90%;
    margin-right: .5%;
}

.rating {
    width: 9%;
    background: rgb(130, 224, 255);
    border: none;
    padding: 10px;
}

#messages {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#messages li {
    padding: 5px 10px;
}

#messages li:nth-child(odd) {
    background: #eee;
}
