/*---------------------- css reset ---------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/*---------------------- regular css ---------------------------*/


html {
  background: #f1f1f1;
  -webkit-box-sizing: border-box -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif !important;
}

a {
  text-decoration: none;
  color: #000;
}

.center-align {
  width: 150px;
  margin: 30px auto;
  text-align: center;
}

.container {
  position: absolute;
  top: 28px;
  width: 150px;
  margin: 30px auto;
  margin-top: 5px;
  margin-left: 0px;
  height: 400px;
  background: #fff;
}

footer {
  position: absolute;
  text-align: center;
  width: 150px;
  display: inline;
  bottom: 10px;
  right: 0px;
}

tr {
   height: 60px;
   display: block;
   /*border: 1px solid black;*/
   align-content: center;
}
footer a {
  padding-left: 10px;
  padding-right: 10px;
}

i {
  content: '';
  display: inline-block;
  height: 14px;
  margin: 0 6px -3px 0;
  width: 14px;
}

.like {
  background-image: url(https://i.imgsafe.org/0616248.png);
  background-repeat: no-repeat;
  background-size: 500px 488px;
  background-position: -277px -446px
}

.logo {
  width: 150px;
  margin: auto;
  margin-left: 0px;
  padding: 2px;
  bottom: 3px;
  background-color: rgb(219, 133, 63);
}
.comment {
  background-image: url(https://i.imgsafe.org/0616248.png);
  background-repeat: no-repeat;
  background-size: 500px 488px;
  background-position: -262px -446px
}

.share {
  background-image: url(https://i.imgsafe.org/0616248.png);
  background-repeat: no-repeat;
  background-size: 500px 488px;
  background-position: -322px -446px;
}

.actionBox {
  position: relative;
  background: #fff;
  padding: 10px;
}

.actionBox span {
  color: #7f7f7f;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  line-height: 14px;
  margin-right: 20px;
  padding: 4px 4px 4px 0;
  cursor: pointer;
}

.clipDiv {
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  width: 1px;
}

/*.emoji-reactions {
  left: -14px;
  position: absolute;
  top: -50px;
  z-index: 200;
  background: #fff;
  display: inline-block;
  font-size: 0;
  padding: 2px 10px;
  text-align: left;
  border-radius: 70px;
  white-space: nowrap;
  height: 49px;
  box-shadow: 0 8px 2px -6px rgba(0, 0, 0, 0.29);
  display: none;
}*/

.emoji-reactions span {
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: linear;
  -webkit-backface-visibility: hidden;
  cursor: pointer;
  display: inline-block;
  height: 48px;
  margin: 0;
  padding: 0;
  position: relative;
  transform: scale(1, 1) translateY(.0001px);
  transform-origin: 50% 100%;
  width: 48px;
}

.emoji-reactions span .reaction {
  transform: scale(.8, .8) translate(0, 0);
  transition: transform 200ms ease;
}

.reaction .react {
  display: block;
  height: 50px;
  image-rendering: crisp-edges;
  line-height: 1;
  width: 48px;
  /*background-image: url('test3.png');*/
  background-size: 48px 384px;
}

.react.stoked {
  background-position: 0 -145px;
}

.react.happy {
  background-position: 0 -95px;
}

.react.ok {
  background-position: 0 -195px;
}

.react.sad {
  background-position: 0 -44px;
}

.react.crying {
  background-position: 0 -245px;
}


.emoji-reactions span .text {
  left: 50%;
  position: absolute;
  text-align: center;
  top: -28px;
  transform: translateX(-50%);
}

.emoji-reactions span .text div {
  background-color: rgba(0, 0, 0, .75);
  border-radius: 10px;
  box-sizing: border-box;
  color: #fff;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  line-height: 20px;
  max-width: 100%;
  opacity: 0;
  overflow: hidden;
  padding: 0 8px;
  text-decoration: none;
  text-overflow: ellipsis;
  transition: opacity 50ms ease;
}

.emoji-reactions span:hover .reaction {
  transform: scale(1, 1) translate(0, -6px);
}

.emoji-reactions span:hover .text div {
  opacity: 1;
}

/*.fb-post {
  width: 100%;
  background: #fff;
  height: 410px;
  background: url(https://i.imgsafe.org/aea1fb1.png) no-repeat;
  background-size: cover;
}*/

.instructions {
  font-size: 14px;
  position: relative;
  background: #000;
  color: #fff;
  display: inline-block;
  padding: 0px 15px;
  top: -9px;
}

#saveForm {
  vertical-align: middle;
  margin: auto;
}

.splash {
    /*padding: 50px;*/
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    height: 100%;
    background-color: #2b3a45 !important;
    /*background-size: 100%;*/
    margin-top: 0;
    position: relative;
}

.container-splash {
  /*background:rgba(222,222,222,.8);*/
  position: relative;
  overflow-y: scroll;
  height: 100%;
  padding-top: 0;
  margin-top: 0;
}

.inner-container-splash {
  background-color: #659792;
  padding: 30px;
  margin: 0;
  border: 0;
  border-radius: 5px;
}

.logo-splash {
    max-width: 100% !important;
    height: auto;
}

.no-pad {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.card-btn {
  background-color: #659792 !important;
  /*height: 100px;*/
  /*width: 100% !important;*/
  /*font-size: 30px;*/
  border-radius: 5px !important;
  padding: 0;
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.headline2 {
    font-family: 'Architects Daughter' !important;
    font-size: 30px;
    color: white;
}

.center-child {
  position: absolute;
  top: 50%;
  height: 100px;
  margin-top: -100px; /* account for padding and border if not using box-sizing: border-box; */
}
